<div class="container">
  <table class="table table-hover mt-3">
    <thead class="text-center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Zona</th>
        <th scope="col">Comensales Adultos</th>
        <th scope="col">Comensales Niños</th>
        <th scope="col">Comensales Total</th>
        <th scope="col">Fecha/hora reserva</th>
        <th scope="col">Comentario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservasList;index as i">
        <td class="text-center">{{ i+1 }}</td>
        <td class="text-center">{{ reserva.nombre }}</td>
        <td class="text-center">{{ reserva.apellidos }}</td>
        <td class="text-center">{{ reserva.telefono }}</td>
        <td class="text-center">{{ reserva.zona }}</td>
        <td class="text-center">{{ reserva.numComensalesAdultos }}</td>
        <td class="text-center">{{ reserva.numComensalesNinios }}</td>
        <td class="text-center">{{ reserva.numComensalesTotal }}</td>
        <td class="text-center">{{ reserva.fechaHoraReserva }}</td>
        <td class="text-center">{{ reserva.comentario }}</td>
      </tr>
    </tbody>
  </table>
</div>